/* Global */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

/* HEADER */

header {
    text-align: center;
}

header * {
    font-size: 18px;
}

.logo {
    margin: 45px 0 20px;
}

/* INPUTS */

input {
    border-width: 0px;
    border-style: none;
    padding: 0 25px;
    border-radius: 5px;
    height: 70px;
}

input:focus-visible {
    outline: -webkit-focus-ring-color none;
}

input:focus::placeholder {
    color: transparent;
}

/* input global */

.global-search-wrapper {
    position: relative;
}

.global-search {
    width: 100%;
    background-color: #E7E7E7;
    height: 70px;
    border-radius: 5px;
}

.global-search::placeholder {
    columns: gray;
}

.fa-search {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
}

/* dropdowns + inputs spécifiques */

.specifics-tags-wrapper {
    min-height: 130px;
    margin: 20px 0;
}

.specifics-wrapper {
    display: flex;
}

.specific-dropdown {
    height: 70px;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    min-width: 170px;
    position: relative;
}

.search-tags-wrapper {
    display: none;
}

.specific {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
}

.specific-dropdown i {
    position: absolute;
    top: 28px;
    right: 20px;
}

.specific-dropdown .fa-chevron-up {
    display: none;
}

/* .specific-search {
    color: white;    
} */

.specific-search::placeholder {
    font-weight: 700;
    color: lightgray;
}

#ingredients,
#ingredients .specific-search {
    background-color: #3282F7;
}

#appliances,
#appliances .specific-search {
    background-color: #68D9A4;
}

#ustensils,
#ustensils .specific-search {
    background-color: #ED6454;
}


/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    width: calc((100% - (2 * 50px)) / 3); /* - espaces */
    height: 364px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.recipe:nth-last-of-type(3n) {
    margin-right: 0;
}

.recipe-img {
    height: 48%;
    width: 100%;
    background-color: #C7BEBE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-text {
    height: 52%;
    width: 100%;
    background-color: #E7E7E7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.recipe h1 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 20px;
    font-weight: 700;
}

.recipe h1 .title{
    width: calc(73% - 20px); /* - margin de .time */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe h1 .time {
    min-width: 27%;
    text-align: end;
    margin-left: 20px;
}

.ingredients-description-wrapper {
    display: flex;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 20px;
}

.ingredients, .description {
    width: 50%;
}

.ingredients {
    padding: 0 20px;
}

.description {
    padding: 0 20px 0 0;
}

.ingredient {
    font-weight: 700;
}