/* Global */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

/* HEADER */

header {
    text-align: center;
}

.logo {
    margin-top: 45px;
}

/* inputs général */

input {
    border-width: 0px;
    border-style: none;
    padding: 0 25px;
    border-radius: 5px;
    height: 70px;
}

input:focus-visible {
    outline: -webkit-focus-ring-color none;
}

input::placeholder {
    color: lightgray;
}

input:focus::placeholder {
    color: transparent;
}

/* input global */

.global-search {
    width: 100%;
    background-color: #E7E7E7;
    height: 70px;
    border-radius: 5px;
    margin: 20px 0;
}

/* dropdowns + inputs spécifiques */

.specifics-wrapper {
    display: flex;
}

.specific-dropdown {
    height: 70px;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    min-width: 170px;
    position: relative;
}

.search-tags-wrapper {
    display: none;
}

.specific {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
}

.specific-dropdown i {
    position: absolute;
    top: 28px;
    right: 20px;
}

.specific-dropdown .fa-chevron-up {
    display: none;
}

/* .specific-search {
    color: white;    
} */

.specific-search::placeholder {
    font-weight: 700;
}

#ingredients,
#ingredients .specific-search {
    background-color: #3282F7;
}

#appliances,
#appliances .specific-search {
    background-color: #68D9A4;
}

#ustensils,
#ustensils .specific-search {
    background-color: #ED6454;
}